.confirm-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.confirm-modal {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color:black;
}

.confirm-modal button {
    margin: 10px;
    padding: 5px 15px;
}
